@import '../../../../../../assets/styles/variables.scss';

.step {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-bottom: 1px solid rgba($color: $light-middle-grey, $alpha: 0.2);
  padding: 1rem 0;
  gap: 0.5rem;

  .stepCount {
    position: relative;
    font-size: 0.8rem;
    font-weight: 600;
    color: $red;
  }

  .stepText {
    color: $white;
    font-size: 1.1rem;
  }
}
