@import '../../../assets/styles/variables.scss';

.homePage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  overflow: hidden;

  .content {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
    }

    .options {
      flex: 7;
      display: flex;
      flex-direction: column;
      padding-right: 1rem;
      overflow: auto;

      @media only screen and (max-width: 1000px) {
        padding-right: 0;
      }
    }

    .summary {
      border-left: 1px solid $black;
      flex: 3;
      padding-left: 1rem;
      height: 95%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      align-content: flex-start;
      justify-content: flex-start;
      gap: 0.2rem;

      @media only screen and (max-width: 1000px) {
        padding-left: 0;
        border: 0;
        flex: 0;
        margin-bottom: 2rem;
      }

      @media only screen and (max-width: 700px) {
        margin-bottom: 0.5rem;
      }

      & > div {
        flex: 1;

        @media only screen and (max-width: 1000px) {
          display: none;
        }
      }

      img {
        height: 25px;
      }

      & > span {
        color: $dark-middle-grey;
        text-align: center;
        font-weight: 500;
        font-size: 1rem;

        a {
          text-decoration: underline;
          color: $light-middle-grey;

          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}
