@import '../../assets/styles/variables.scss';

.button {
  background: rgba($color: $red, $alpha: 0.8);
  padding: 0.9rem 2rem;
  border: 0;
  border-radius: 30px;
  transition: 0.1s all;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  outline: none;
  color: $white;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  gap: 0.5rem;

  &.invisible {
    background: transparent !important;
    color: transparent !important;
    cursor: default !important;
  }

  &:hover {
    background: rgba($color: $red, $alpha: 1);
  }

  &:disabled,
  [disabled] {
    background-color: $light-grey;
    border-color: $light-grey;
    cursor: default;
  }
}
