@import '../../../assets/styles/variables.scss';

.inputField {
  & > div {
    padding: 0 0 3px 0;
    border: 0;
    border-bottom: 1px solid $black;
    border-radius: 0;

    svg {
      height: 0.9rem;
      width: 0.9rem;
    }

    input {
      font-size: smaller;
      margin-left: 0.2rem;
    }
  }
}
