@import '../../../assets/styles/variables.scss';

.textButton {
  width: fit-content;

  button {
    background: transparent;
    color: $red;
    font-size: 0.8rem;
    padding: 0;
    text-decoration: underline;

    &:hover {
      background: transparent;
      text-decoration: none;
    }

    &:disabled,
    [disabled] {
      color: $light-grey;
      background-color: transparent;
      cursor: default;
    }
  }
}
