@import '../../../assets/styles/variables.scss';

.recipesContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  width: 100%;
  gap: 2rem;
  overflow: hidden;

  .recipesList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 1rem 1rem 0 1rem;
    height: 100%;
    overflow: auto;

    @media only screen and (max-width: 700px) {
      padding: 1rem 0;
    }

    .recipes {
      display: grid;
      grid-auto-rows: 230px;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      overflow: visible;
      flex: 1;

      @media only screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .loadMore {
      padding-bottom: 2rem;
      align-self: center;
    }
  }

  .noRecipes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    gap: 0.5rem;

    img {
      width: 300px;
      margin: 0 auto;
    }

    & > span {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}
