@import '../../assets/styles/variables.scss';

.alertContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  width: 80%;
  top: 2rem;
  left: 10%;

  .alert {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0.8rem 1.7rem;
    flex-wrap: wrap;
    max-width: 80%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    span {
      font-weight: 500;
      color: $white;
      text-align: center;
      font-size: 0.8rem;
    }

    &.success {
      background-color: $green;
    }

    &.error {
      background-color: $red;
    }

    &.warning {
      background-color: $yellow;
    }

    svg {
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;
      height: 10px;
      cursor: pointer;
      color: $light-grey;

      &:hover {
        color: $white;
      }
    }

    .timer {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $white;
      width: 100%;
      animation: timerAnimation 5s forwards;
    }
  }

  @keyframes timerAnimation {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
}
