@import '../../assets/styles/variables.scss';

.button {
  background: $white;
  padding: 0.9rem 2rem;
  border: 1px solid $black;
  border-radius: 30px;
  transition: 0.1s all;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  outline: none;
  color: $black;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  gap: 0.5rem;

  &:hover {
    background: rgba($color: $red, $alpha: 0.1);
    border: 1px solid $black;
  }

  &:disabled,
  [disabled] {
    background-color: $light-grey;
    border-color: $light-grey;
    cursor: default;
  }
}
