@import '../../../assets/styles/variables.scss';

.recipesContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  width: 100%;
  gap: 2rem;
  overflow: hidden;

  .recipesCommunityContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: auto;
    height: 100%;
    padding: 1rem 1rem 2rem 1rem;
    gap: 3rem;

    .todayContainer {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      align-content: flex-start;
      justify-content: flex-start;
      gap: 1rem;

      .todayRecipes {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;

        & > button {
          flex: 1;
        }

        .noTodayRecipe {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          flex: 1;

          button {
            font-size: 1rem;
            align-self: center;
          }
        }
      }
    }

    .loadMore {
      align-self: center;
    }

    .recipes {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      @media only screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .noRecipes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    gap: 0.5rem;
    height: 100%;

    img {
      width: 300px;
      margin: 0 auto;
    }

    & > span {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}
